* {
  margin: 0px;
  color: white !important;
}

h1 {
  margin-left: 24px;
}

canvas {
  z-index: -2;
  position: absolute;
  top: 0px;
  left: 0px;
}

#slidecontainercontainer {
  display: none;
  margin-left: 36px;
}

.slidecontainer {
  margin-left: 24px;
  margin-bottom: 8px;
  width: 20%;
}

.slidecontainer > div > button {
  margin-left: 8px;
  margin-top: 12px;
}


.slider {
  appearance: none;
  background: #d3d3d3;
  border-radius: 4px;
  height: 25px;
  opacity: 0.7;
  outline: none;
  transition: opacity .2s;
  -webkit-appearance: none;
  -webkit-transition: .2s;
  width: 100%;
}

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: #4CAF50;
  border-radius: 4px;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.slider::-moz-range-thumb {
  background: #4CAF50;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#mainButtons > button {
  margin: 24px 0px 24px 24px;
}

.icon {
    display: none;
}

.btnImg {
  margin: 10px;
}

#mainButtons {
  display: none;
}

.form-check-input {
  margin-left: 0px;
}

.form-check-label {
  margin-left: 20px;
}

.btn {
  margin-bottom: 10px;
}